<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem
        id="l10n_ec.sri_menu"
        name="SRI Ecuatoriano"
        parent="account.menu_finance_entries"
        sequence="100"
    />

    <menuitem
        id="l10n_ec.sri_menu_config"
        name="SRI Ecuatoriano"
        parent="account.menu_finance_configuration"
        sequence="100"
    />

</odoo>
